
body{
  background-color: rgb(99, 205, 78);
}

.calculator {
  border-radius: 10%;
  padding: 2%;
  margin: 6% 2%;
  background-color: #cca75d;
  color: #000;
}

.calculator.dark {
  background-color: #333;
  color: #ebdada;
}

.theme-toggle {
  cursor: pointer;
  font-size: 1.5rem;
}

.display {
  text-align: right;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.expression {
  font-size: 1.5rem;
}

.result {
  font-size: 2rem;
  margin-top: 10px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}
